<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <div class = "flexing logo-navbar">
      <%= image_tag "logo-transparency-for-good.png", class: "main-logo" %>
    </div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto wb text-center">
      <li ><a href = "https://play.google.com/store/apps/details?id=app.tizy.myapplication&hl=fr" class="fab fa-android"></a></li>
      <li ><a href = "https://www.tizy.app/" class="fab fa-apple"></a></li>

      <li class="nav-item active">
        <%= link_to "Accueil", "/", class: "nav-link" %>
      </li>
      <li class="nav-item active dropdown ">
        <%= link_to "Offre", "/offre", class: "nav-link dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right text-center " aria-labelledby="navbarDropdown">
          <%= link_to "Notre offre", "/offre", class: "dropdown-item fc-green" %>
          <%= link_to "Industriel", "/industriel", class: "dropdown-item fc-green" %>
          <%= link_to "Restaurateur", "/restaurateur", class: "dropdown-item fc-green" %>
          <%= link_to "Distributeur", "/distributeur", class: "dropdown-item fc-green" %>
        </div>
      </li>
      <li class="nav-item no-display">
        <%= link_to "Le Blog", articles_path, class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "L'équipe", "/equipe", class: "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to "Contact", new_contact_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
