
<div class="banniere" style="background-size: cover; background-image: linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0)), url(https://images.unsplash.com/photo-1521566652839-697aa473761a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80);">
  <div class="titre-rubrique">
    <h1>Vous êtes un <strong>distributeur alimentaire</strong> et souhaitez faciliter la <strong>consommation responsable de vos clients ?</strong></h1>
    <p>Nous développons des services pour <strong> promouvoir</strong> la consommation responsable auprès de vos clients.</p>
    <a class="btn btn-danger" href="#">Nous contacter</a>
  </div>
</div>
<div class = "container">
  <div class = "box white-back">
    <div class = "flexing middle">
      <%= image_tag "bird-green2.png", class:  "box-head-picture" %>
      <h1>Votre interface :</h1>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide w-carroussel" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "smartphone-general.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-packaging.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-origine.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-co2.png", class:  "d-block w-100" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class = "box grey-back">
    <div class = "flexing middle">
      <%= image_tag "bird-light-green.png", class:  "box-head-picture" %>
      <h1>Comment Tizy évalue les impacts environnementaux ?</h1>
    </div>
    <%= image_tag "estampille-eco-methode.png", class:  "card-picture" %>
  </div>

  <div class = "box white-back">
    <div class = "flexing middle">
      <%= image_tag "bird-yellow.png", class:  "box-head-picture" %>
      <h1>Nos engagements :</h1>
    </div>
    <ul class="list-group">
      <li class="list-group-item">Nous souhaitons faciliter l'identification des produits éco-responsables au moment de vos achats</li>
      <li class="list-group-item">Nous vous mettons à disposition une information certifiée et compréhensive qui détaille les impacts environnementaux du produit</li>
      <li class="list-group-item">Vos informations personnelles sont protéjées et nous n'en faisons pas commerce</li>
      <li class="list-group-item">Contribuez-vous aussi à la transition écologique en recommandant des changements aux entreprises</li>
    </ul>
  </div>
</div>

