<div class = "conteneur"><div>
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">
    <div id="carouselExampleIndicators" class="smartphone carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "smartphone-general.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-packaging.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-origine.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-co2.png", class:  "d-block w-100" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="titre-home">
      <h1>Faites le meilleur choix pour<strong> notre environnement</strong></h1>
      <p>Ensemble, accélérons la <strong> transition écologique</strong> de notre alimentaion.</p>
      <%= link_to "Nous contacter", new_contact_path, class: "btn btn-danger" %>
    </div>
  </div>
<div class="download">
  <%= link_to "https://play.google.com/store/apps/details?id=app.tizy.myapplication&hl=fr", target: :_blank do %>
    <div class = "download-android">
        <img class = "icon-download" src = "https://img.pngio.com/google-play-store-logo-png-transparent-svg-vector-freebie-supply-google-play-store-logo-png-2400_2746.png">
        <div class = "download-txt">
          <p class="disponible"> Disponible sur </p>
          <h3 class = "download-head"> Google Play </h3>
        </div>
    </div>
  <% end %>
  <%= link_to "https://www.tizy.app/", target: :_blank do %>
    <div class = "download-android">
        <img class = "icon-download" src = "https://www.stickpng.com/assets/images/58e383a9204d556bbd97b149.png">
        <div class = "download-txt">
          <p class="disponible"> Bientôt sur </p>
          <h3 class = "download-head"> App store</h3>
        </div>
    </div>
  <% end %>
</div>
