<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1511497584788-876760111969?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80);">
    <div id="carouselExampleIndicators" class="smartphone carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag "smartphone-general.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-packaging.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-origine.png", class:  "d-block w-100" %>
        </div>
        <div class="carousel-item">
          <%= image_tag "smartphone-co2.png", class:  "d-block w-100" %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="titre-home">
      <h1>La <strong>Transparence</strong> de vos produits au service de<strong> notre environnement</strong></h1>
      <p>Ensemble, accélérons la <strong> transition écologique</strong> de notre alimentation.</p>
      <div class="download">
        <%= link_to "https://play.google.com/store/apps/details?id=app.tizy.myapplication&hl=fr", target: :_blank do %>
          <div class = "download-android">
              <i class="fab fa-google-play"></i>
              <div class = "download-txt">
                <p class="disponible"> Disponible sur </p>
                <h3 class = "download-head"> Google Play </h3>
              </div>
          </div>
        <% end %>
        <%= link_to "https://www.tizy.app/", target: :_blank do %>
          <div class = "download-android">
              <i class="fab fa-apple"></i>
              <div class = "download-txt">
                <p class="disponible"> Bientôt sur </p>
                <h3 class = "download-head"> App store</h3>
              </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br>

  <div class = "ccm">
    <div class = "text-block">
      <h1>Comment ça marche ?</h1>
      <div class ="flexing">
        <div class = "card2">
          <h1>1. <strong>Mesurez</strong> l'impact de vos produits</h1>
          <br>
          <div class = "circle-around">
            <div class = "circle-inner">
              <i class="heart fas fa-weight"></i>
            </div>
          </div>
          <br>
          <p>En analysant le packaging, les origines et les émissions de CO2 du produit.</p>
          <br>
        </div>
        <div class = "card2">
          <h1>2. <strong>Affichez</strong> le résultat sur vos produits</h1>
          <br>
          <div class = "circle-around">
            <div class = "circle-inner">
              <i class="heart fas fa-qrcode"></i>
            </div>
          </div>
          <br>
          <p>A l'aide d'une estampille phygitale, le résultat est visible et mise en valeur par Tizy auprès des consommateurs.</p>
          <br>
        </div>
        <div class = "card2">
          <h1>3. <strong>Offrez</strong> une information transparente et digitale.</h1>
          <br>
          <div class = "circle-around">
            <div class = "circle-inner">
              <i class="heart fas fa-mobile-alt"></i>
            </div>
          </div>
          <br>
          <p>A l'aide du QRcode un consommateur accède au résultat sans avoir besoin de télécharger d'application.</p>
          <br>
        </div>
      </div>
    </div>
    <div class = "text-block">
      <br>
      <br>
      <h1>Ils parlent de nous:</h1>
      <br>
      <div class = "flexing center">
        <img class = "logo-journaux" src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/24/Logo_Journal_Progr%C3%A8s.svg/1280px-Logo_Journal_Progr%C3%A8s.svg.png">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/fr/7/7f/RCF_Radio_logo_2015.png">
        <img class = "logo-journaux" src= "https://miro.medium.com/max/1200/1*D4P1K-7eQPRV822s7GAC8w.png">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Europe_1_logo_%282010%29.svg/1200px-Europe_1_logo_%282010%29.svg.png">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/fr/thumb/f/f8/Le_Figaro_logo.svg/1280px-Le_Figaro_logo.svg.png">
      </div>
      <br>
    </div>
    <div class = "text-block">
      <br>
      <br>
      <h1>Ils nous accompagnent:</h1>
      <br>
      <div class = "flexing center">
        <img class = "logo-journaux" src="https://lh3.googleusercontent.com/proxy/5rqe7rckR8MUfTKOFgSTSugAQ-rCKgeYGCkU6a_l1D2V0IIiPMc6AMZfMDQzhYW3kYbt3befk7IhUH8JTxhzP9uArZsHKxoqHkLoewDAG7EqBqZSynf91tzVyUBY3hRl45RBrW0CuAm0d7bruqYrt5__Rw">
        <img class = "logo-journaux" src= "https://www.ladn.eu/wp-content/uploads/2019/03/wagon-executive.jpg">
        <img class = "logo-journaux" src= "https://www.auvergnerhonealpes.fr/cms_viewFile.php?idtf=1406&path=logo-partenaire-2017-rvb-pastille-bleue-png.png">
        <img class = "logo-journaux" src= "https://makesense.org/wp-content/themes/stories/library/images/logotype.svg">
      </div>
      <br>
    </div>
    <div class = "text-block">
      <br>
      <br>
      <h1>Ils nous font confiance:</h1>
      <br>
      <div class = "flexing center">
        <img class = "logo-journaux" src="https://www.lapopotecompagnie.com/wp-content/uploads/2017/11/logo-popote-blanc.png">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/fr/thumb/7/7a/Panzani.jpg/280px-Panzani.jpg">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/commons/4/48/Logo_savencia_fromage_dairy_rvb.png">
        <img class = "logo-journaux" src= "https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Sodexo_2008_%28logo%29.svg/1200px-Sodexo_2008_%28logo%29.svg.png">
      </div>
      <br>
    </div>
    <div class = "text-block">
      <br>
      <br>
      <h1>Nos partenaires:</h1>
      <br>
      <div class = "flexing center">
        <img class = "logo-journaux" src="https://www.bio-comme-un-homme.fr/wp-content/uploads/2016/05/label-ecocert.jpg">
      </div>
      <br>
    </div>
  </div>
</div>

