<div class = "conteneur">
  <div class="banniere" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1385&q=80);">
    <div class="titre-home">
      <h1>Tizy <strong>offre ses services</strong> aux acteurs de l'alimentaire pour <strong> honorer les attentes de leurs clients</strong>.</h1>
      <p>L'information est le lien qui <strong>unie en confiance entreprises et consommateurs</strong>. <strong>Gagnez</strong> en étant <strong>transparant</strong>.</p>
    </div>
  </div>
  <br>
  <br>
 <div class = "ccm">
    <div class = "text-block">
      <h1 class ="gb br-small p-small fc-white">A qui s'adressent nos services ?</h1>
      <br>
      <div class ="flexing row sa">
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">1. La <strong>restauration collective</strong>.</h1>
          </div>

          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-utensils"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Chaque jour des millions de repas sont consommés dans vos restaurants, offrez à vos clients la <strong>Transparence</strong> dans vos assiettes pour leurs santés et notre planète.</p>
          <br>
          <br>
          <div class = "bottom">
            <%= link_to "En savoir plus", "/restaurateur", class: "btn-tizy fc-white middle ob" %>
          </div>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">2. Les <strong>industriels de l'agroalimentaire</strong>.</h1>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-cube"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey">Vous êtes déjà engagés ou souhaitez vous engager dans la <strong>transition écologique</strong> de vos produits ? <strong>Valorisez votre action</strong> en rendant vos efforts visibles, accessibles et ludiques auprès de vos clients !</p>
          <br>
          <br>
          <div class = "bottom">
            <%= link_to "En savoir plus", "/industriel", class: "btn-tizy fc-white middle ob" %>
          </div>
        </div>
        <div class = "card2 text-size col-sm-3">
          <div class ="card-header2">
            <h1 class ="fc-dark-grey">3. Les <strong>distributeurs</strong>.</h1>
          </div>
          <div class = "circle-around gb">
            <div class = "circle-inner wb">
              <i class="heart fc-orange fas fa-shopping-cart"></i>
            </div>
          </div>
          <br>
          <p class ="fc-medium-grey"><strong>Accompagnez et facilitez</strong> le changement de consommation de vos clients en développant des services à destination de <strong>vos clients engagés actuels ou à venir</strong>.</p>
          <br>
          <br>
          <div class = "bottom ">
            <%= link_to "En savoir plus", "/distributeur", class: "btn-tizy fc-white middle ob" %>
          </div>
        </div>
        <div class = "card2 text-size col-sm-3 gb fc-white">
          <div class ="card-header2">
            <h1 class = "fc-white">4. Les <strong>consommateurs</strong>.</h1>
          </div>
          <div class = "circle-around wb">
            <div class = "circle-inner gb">
              <i class="heart fc-white fas fa-user-friends"></i>
            </div>
          </div>
          <br>
          <p class = "fc-light-grey">Nous sommes <strong class ="fc-white">56% de Français</strong> à penser que les entreprises devraient <strong class ="fc-white">communiquer sur leurs engagements RSE</strong> jusque dans le point de vente. <strong class ="fc-white">58% d'entre nous, trouve cela plus impactant qu'une campagne de publicité</strong>. Servir les attentes des consommateurs, toujours !</p>
        </div>
      </div>
      <br>
      <div class = "text-block">
        <h1 class ="ob br-small p-small fc-white">Comment évaluons-nous les impacts environnementaux de vos produits?</h1>
        <br>
        <div class = "center-div text-grey col-sm-12 text-size">
        <p>Nous avons définis nos <strong>critères environnementaux</strong> en lien avec l'étude du <strong>cycle de vie des produits</strong> et les <strong>attentes grands publics</strong> à ce sujet. Un bon indicateur est simple à calculer, à comprendre et à mettre en place. Tous nos indicateurs ont des <strong>leviers d'action concrêts</strong> permettant aux entreprises et aux consommateurs de se <strong>projeter</strong>, d'<strong>évaluer</strong> et de <strong>partager</strong> nos avancées afin <strong>accélérer la transition écologique de notre société</strong>. Notre méthodologie est basée sur le triptique du <strong>POC</strong>.</p>
      </div>
        <div class ="flexing row sa">
          <div class = "card2 text-size col-sm-3">
            <div class ="card-header2">
              <h1 class ="fc-dark-grey">1. Le <strong>Packaging</strong>.</h1>
            </div>

            <div class = "circle-around ob">
              <div class = "circle-inner wb">
                <i class="heart fc-green fas fa-trash-alt"></i>
              </div>
            </div>
            <br>
            <p class ="fc-medium-grey">Les emballages ont des conséquences environnementales non négligeables. Ils nécessitent beaucoup de resources en amont pour leur production et en aval pour le traitement des déchets. </p>
            <br>
            <br>
            <br>
            <div class = "bottom">
              <%= link_to "En savoir plus", "/offre", class: "btn-tizy fc-white middle gb" %>
            </div>
          </div>
          <div class = "card2 text-size col-sm-3">
            <div class ="card-header2">
              <h1 class ="fc-dark-grey">2. Les <strong>Origines</strong>.</h1>
            </div>
            <div class = "circle-around ob">
              <div class = "circle-inner wb">
                <i class="heart fc-green fas fa-share-alt"></i>
              </div>
            </div>
            <br>
            <p class ="fc-medium-grey">Derrière les origines se cache la problématique du transport. 25 % de nos émissions de CO2 mondiales proviennent directement du transport. Plus les routes logistiques sont complexes et longues, plus le transport est prédominant.</p>
            <br>
            <br>
            <br>
            <div class = "bottom">
              <%= link_to "En savoir plus", "/offre", class: "btn-tizy fc-white middle gb" %>
            </div>
          </div>
          <div class = "card2 text-size col-sm-3">
            <div class ="card-header2">
              <h1 class ="fc-dark-grey">3. Le <strong>CO2</strong>.</h1>
            </div>
            <div class = "circle-around ob">
              <div class = "circle-inner wb">
                <i class="heart fc-green fas fa-cloud"></i>
              </div>
            </div>
            <br>
            <p class ="fc-medium-grey">Nos aliments ont des facteurs d'émission de CO2 hétérogènes. Nous analysons les émissions de CO2 des ingrédients rentrants dans les recettes de vos produits.</p>
            <br>
            <br>
            <br>
            <div class = "bottom ">
              <%= link_to "En savoir plus", "/offre", class: "btn-tizy fc-white middle gb" %>
            </div>
          </div>
        </div>
    </div>
</div>

