<div class = "conteneur">
  <div class="banniere row" style="background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(https://images.unsplash.com/photo-1466096115517-bceecbfb6fde?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);">

    <div class="formulaire-contact col-sm-8 ">
      <h3 class = "fc-white">Contactez-nous</h3>

      <div class="formulaire ">
        <%= form_for @contact do |f| %>
          <div class = "flexing">

            <%= f.text_field :name, required: true, placeholder: "Votre nom...", class: "" %>


            <%= f.email_field :email, required: true, placeholder: "Votre email..." %>
          </div>


          <div class = "flexing">
            <%= f.text_area :message, as: :text, placeholder: "Votre message..." %>
          </div>
          <div class="hidden">
            <%= f.label :nickname %> <br>
           <%= f.text_field :nickname, hint: 'laisser ce champ vide' %>
          </div>


          <%= f.submit 'Envoyer', class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class = "ccm">
    <div class = "text-center fc-dark-grey">
      <br>
      <h3> Vous avez des questions, des recommandations, vous souhaitez nous rencontrer ? </h1>
      <br>
      <h3> Envoyez-nous un message, nous serons ravis de vous répondre ! </h1>
      <br>
      <h3> A bientôt </h1>
    </div>
  </div>
<br>
